@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  html,
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  /*font styles*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    font-family: var(--main-font);
  }
  /*end font styles*
  /*style input caret*/
  input[type="text"] {
    caret-color: green;
  }
  /* end style input caret*/

  /* a */
  a {
    text-decoration: none !important;
    color: inherit;
  }

  /*scroll bar */
  .styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
 
}

/*custom components styles*/
@layer components {
  .btn-primary {
    @apply bg-main-main text-text-third border-0 hover:bg-main-hover hover:border-0;
  }
  .box-shadow {
    @apply shadow-2xl p-5 rounded-lg border border-gray-200;
  }
}

/*custom utilities styles*/
@layer utilities {
}
