@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  color-scheme: light
}
*{
  color-scheme: light
} 
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--main-font);
}


a {
  text-decoration: none !important;
  color: inherit;
}

/*custom components styles*/
@layer components {
  .btn-primary {
    @apply bg-main-main text-text-third dark:bg-dark-bgSection dark:text-dark-text border-0 hover:bg-main-hover hover:border-0;
  }
  .box-shadow {
    @apply shadow-2xl p-5 rounded-lg border border-gray-200 dark:border-dark-bgSection dark:shadow-dark;
  }
  .btn-error-outline {
    @apply bg-transparent border-[1px] border-error-main text-error-main hover:text-white hover:bg-error-main hover:border-error-main;
  }
  .checkbox-main {
    @apply accent-main-main dark:accent-dark-textAction w-5 h-5 rounded-sm;
  }
}

/*custom utilities styles*/
@layer utilities {
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: white;
    color: black;
  }
  /* Additional styling if needed for elements with the dark class */
  .dark,  input, label {
    background-color: white !important;
    color: black !important;
  }
}
